.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

p{
    color: rgb(241, 40, 4);
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}